# Whitelist
.minecraft/**

## MMC stuff
instance.cfg
mmc-pack.json
natives
.packignore

## Config
!.minecraft/config/
!.minecraft/config/**
.minecraft/config/inventoryprofilesnext
!.minecraft/defaultconfigs/
!.minecraft/defaultconfigs/**
.minecraft/config/jei

## KubeJS
!.minecraft/kubejs/
!.minecraft/kubejs/**
.minecraft/kubejs/README.txt
.minecraft/kubejs/exported
.minecraft/kubejs/probe

## Resources
!.minecraft/patchouli_books/
!.minecraft/patchouli_books/**
!.minecraft/scripts/
!.minecraft/scripts/**
!.minecraft/packmenu/
!.minecraft/packmenu/**
!.minecraft/hotai/
!.minecraft/hotai/**
.minecraft/packmenu/resources.zip